{% for file in  log_files|list %}
<source>
  @type tail
  @id {{ file.name }}
  path {{ file.path }}
  pos_file /var/fluentd-temp/{{ file.name }}.pos
  tag {{ file.type }}.{{ file.name }}
  read_from_head false
  read_lines_limit 5000
  rotate_wait 10
  <parse>
    @type {{ file.format }}
    {% if file.format == "multiline" %}
    format_firstline {{ file.first_line|safe }}
    {% for line in file.multilines|list %}
    format{{ loop.index }} {{ line|safe }}
    {% endfor %}
    {%- endif -%}
  </parse>
</source>

<filter {{ file.type }}.{{ file.name }}>
  @type record_transformer
  <record>
    type "{{ file.type }}-{{ file.name }}"
    host "#{Socket.gethostname}"
    host_ip "#{Socket.ip_address_list[1].ip_address}"
    {% if file.tags is defined -%}
    tags ["{{ (file.tags|list) | join("\",\"") }}"]
    {% endif -%}
  </record>
</filter>

{% endfor %}