/var/log/rsyslog-beat
{
        rotate 7
        daily
        missingok
        notifempty
        delaycompress
        compress
        postrotate
{% if ansible_distribution_release | lower == "stretch" %}
                service rsyslog rotate >/dev/null 2>&1 || true
{% else %}
                /usr/lib/rsyslog/rsyslog-rotate
{% endif %}
        endscript
}
