#!/bin/bash

# get zookeeper ip
ZK_ENDPOINT="{{ zookeeper_connect }}"
ZK_HOSTS=$(echo $ZK_ENDPOINT | sed -e s/:2181//g | tr ',' '\n')

# allow acl for all zk instance
for ZK_HOST in ${ZK_HOSTS}; do 
  echo "allow all acl for host ${ZK_HOST}"
  /opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:ANONYMOUS  --operation ALL --cluster kafka-cluster --group '*' --topic '*' --allow-host ${ZK_HOST}
done 

# get broker id
KAFKA_IDS=$(/opt/kafka/bin/zookeeper-shell.sh ${ZK_ENDPOINT} ls /brokers/ids | tail -1 | tr -d '[ ]' | tr ',' '\n')
# get broker ip
for KAFKA_ID in ${KAFKA_IDS}; do 
  KAFKA_HOST=$(/opt/kafka/bin/zookeeper-shell.sh ${ZK_ENDPOINT} get /brokers/ids/${KAFKA_ID} | tail -1 | jq -r '.host')
  echo "allow all acl for host ${KAFKA_HOST}"
  # allow acl for all broker instance
  /opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:ANONYMOUS  --operation ALL --cluster kafka-cluster --group '*' --topic '*' --allow-host ${KAFKA_HOST}
done 

# allow acl for specific hosts
{% for item in kafka_allow_anonymous_acl_host %}
echo "allow all acl for host {{ item }}"
/opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:ANONYMOUS  --operation ALL --cluster kafka-cluster --group '*' --topic '*' --allow-host {{ item }}
{% endfor %}

# allow acl for client
{% for item in kafka_acl %}
{% for item_operation in item.operation %}
echo "allow acl for user: {{ item.client }}; topic: {{ item.topic }}; with permisson: {{ item_operation }}"
{% if (item_operation == 'ALL') or (item_operation == 'AlterConfigs') or (item_operation == 'DescribeConfigs') or (item_operation == 'IdempotentWrite') or (item_operation == 'Alter') or (item_operation == 'ClusterAction') or (item_operation == 'Create') or (item_operation == 'Describe') %}
/opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:CN={{ item.client }}  --operation {{ item_operation }} --cluster kafka-cluster --group '*' --topic '{{ item.topic }}' 
{% elif item_operation == 'Write' %}
/opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:CN={{ item.client }}  --operation {{ item_operation }} --topic '{{ item.topic }}' 
{% else %}
/opt/kafka/bin/kafka-acls.sh --authorizer-properties zookeeper.connect=${ZK_ENDPOINT} --add --allow-principal User:CN={{ item.client }}  --operation {{ item_operation }} --group '*' --topic '{{ item.topic }}' 
{% endif %}
{% endfor %}
{% endfor %}