############################# Server Basics #############################

# The id of the broker. This must be set to a unique integer for each broker.
broker.id=REPLACEKAFKAID

# Switch to enable topic deletion or not, default value is false
delete.topic.enable=true

# The address the socket server listens on.
listeners=PLAINTEXT://REPLACEKAFKAIP:9092
advertised.listeners=PLAINTEXT://REPLACEKAFKAIP:9092

{% if kafka_ssl_CN is defined %}
ssl.keystore.location={{ kafka_ssl_keystore_location | default('/data/kafka/ssl/kafka.server.keystore.jks') }}
ssl.keystore.password={{ kafka_ssl_keystore_password | default('serversecret') }}
ssl.key.password={{ kafka_ssl_key_password | default('serversecret') }}
ssl.truststore.location={{ kafka_ssl_truststore_location | default('/data/kafka/ssl/kafka.server.truststore.jks') }}
ssl.truststore.password={{ kafka_ssl_truststore_password | default('serversecret') }}
{% endif %}

{% if kafka_ssl_client_auth is defined %}
ssl.client.auth={{ kafka_ssl_client_auth | default('required') }}
{% endif %}

{% if kafka_authorizer_class_name is defined %}
authorizer.class.name={{ kafka_authorizer_class_name | default('kafka.security.auth.SimpleAclAuthorizer') }}
allow.everyone.if.no.acl.found={{ kafka_allow_everyone_if_no_acl_found | default('false') }}
{% endif %}

# The number of threads handling network requests
num.network.threads={{ kafka_num_network_threads | default('32') }}

# The number of threads doing disk I/O
num.io.threads={{ kafka_num_io_threads | default('10') }}

# The send buffer (SO_SNDBUF) used by the socket server
socket.send.buffer.bytes={{ kafka_socket_send_buffer_bytes | default('102400') }}

# The receive buffer (SO_RCVBUF) used by the socket server
socket.receive.buffer.bytes={{ kafka_socket_receive_buffer_bytes | default('102400') }}

# The maximum size of a request that the socket server will accept (protection against OOM)
socket.request.max.bytes={{ kafka_socket_request_max_bytes | default('419430400') }}

############################# Log Basics #############################

# A comma seperated list of directories under which to store log files
log.dirs={% for i in range(1, kafka_data_disk_count) %}/data/kafka/data{{ i }},{% endfor %}{% for i in (kafka_data_disk_count|string) %}/data/kafka/data{{ i }}{% endfor %}

# The default number of log partitions per topic.
num.partitions={{ kafka_num_partition | default('18') }}

# Default replication factors for automatically created topics
default.replication.factor={{ kafka_default_replication_factor | default('3') }}

# The number of threads per data directory to be used for log recovery at startup and flushing at shutdown.
num.recovery.threads.per.data.dir={{ kafka_num_recovery_threads_per_data_dir | default('1') }}
num.replica.fetchers={{ kafka_num_replica_fetchers | default('10') }}

############################# Internal Topic Settings  #############################
# The replication factor for the group metadata internal topics "__consumer_offsets" and "__transaction_state"
# For anything other than development testing, a value greater than 1 is recommended for to ensure availability such as 3.
offsets.topic.replication.factor={{ kafka_offsets_topic_replication_factor | default('3') }}
offsets.topic.num.partitions={{ kafka_offsets_topic_num_partitions | default('54') }}
transaction.state.log.replication.factor={{ kafka_transaction_state_log_replication_factor | default('3') }}
transaction.state.log.min.isr={{ kafka_transaction_state_log_min_isr | default('1') }}

# The default cleanup policy for segments beyond the retention window
log.cleanup.policy=delete

# The minimum age of a log file to be eligible for deletion due to age
log.retention.hours={{ kafka_log_retention_hours | default('168') }}

# The maximum size of a log segment file. When this size is reached a new log segment will be created. Default changes to 524288000 after loadtest
log.segment.bytes={{ kafka_log_segment_bytes | default('524288000') }}

# The interval at which log segments are checked to see if they can be deleted according
# to the retention policies
log.retention.check.interval.ms={{ kafka_log_retention_check_interval | default('300000') }}

# Offsets older than this retention period will be discarded, default=1440
offsets.retention.minutes={{ kafka_offsets_retention_minutes | default('43200') }}

############################# Zookeeper #############################
zookeeper.connect={{ zookeeper_connect }}

# Timeout in ms for connecting to zookeeper
zookeeper.connection.timeout.ms={{ kafka_zookeeper_connection_timeout_ms | default('6000') }}

############################# Group Coordinator Settings #############################
group.initial.rebalance.delay.ms={{ kafka_group_initial_rebalance_delay_ms | default('3000') }}

# Compression settings
{% if kafka_compression_enable is defined %}
compression.type={{ kafka_compression_type | default('zstd') }}
{% endif %}

# Rack of the broker settings
{% if broker_rack_enable is defined %}
broker.rack={{ kafka_broker_rack | default('replaceme') }}
{% endif %}

# The maximum jitter to subtract from logRollTimeMillis (in hours). Default changes to 1 after loadtest
{% if kafka_log_roll_jitter_hours is defined %}
log.roll.jitter.hours={{ kafka_log_roll_jitter_hours | default('1') }}
{% endif %}

{% if kafka_log_roll_jitter_ms is defined %}
log.roll.jitter.ms={{ kafka_log_roll_jitter_ms | default('3600000') }}
{% endif %}

# Message max bytes : The largest record batch size allowed by Kafka (after compression if compression is enabled).
# If this is increased and there are consumers older than 0.10.2, the consumers' fetch size must also
# be increased so that the they can fetch record batches this large.
# In the latest message format version, records are always grouped into batches for efficiency.
# In previous message format versions, uncompressed records are not grouped into batches and
# this limit only applies to a single record in that case.This can be set per topic with the topic level max.message.bytes config.
message.max.bytes={{ kafka_message_max_bytes | default('1048588') }}

#The number of bytes of messages to attempt to fetch for each partition. This is not an absolute maximum, 
#if the first record batch in the first non-empty partition of the fetch is larger than this value, 
#the record batch will still be returned to ensure that progress can be made. 
#The maximum record batch size accepted by the broker is defined via message.max.bytes (broker config) or max.message.bytes (topic config).
replica.fetch.max.bytes={{ kafka_replica_fetch_max_bytes | default('1048588') }}


# The maximum time before a new log segment is rolled out (in hours), secondary to log.roll.ms property
log.roll.hours={{ kafka_log_roll_hours | default('168') }}

{% if kafka_auto_create_topics_enable is defined %}
auto.create.topics.enable={{ kafka_auto_create_topics_enable | default('true') }}
{% endif %}