[Unit]
Description=Kafka Broker
After=network.target remote-fs.target

[Service]
Type=forking
Environment="KAFKA_HEAP_OPTS=-Xmx{{ kafka_heap_xmx }} -Xms{{ kafka_heap_xms }}"
Environment="KAFKA_JVM_PERFORMANCE_OPTS=-XX:MetaspaceSize=96m -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80"
Environment="KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port=10030 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=REPLACEME -Djava.net.preferIPv4Stack=true"
Environment="LOG_DIR=/var/log/kafka"
ExecStart=/opt/kafka/bin/kafka-server-start.sh -daemon /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh

LimitNPROC=1000000
LimitNOFILE=1000000
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
