# Zookeeper tuning
vm.swappiness = 1

# IPv6 disabled
# net.ipv6.conf.all.disable_ipv6 = 1
# net.ipv6.conf.default.disable_ipv6 = 1
# net.ipv6.conf.lo.disable_ipv6 = 1

# Custom
net.ipv4.ip_local_port_range=1024 65535
net.ipv4.tcp_tw_reuse=0
net.core.netdev_max_backlog={{ zookeeper_sysctl_netdev_max_backlog | default('262144') }}
net.ipv4.tcp_max_tw_buckets={{ zookeeper_sysctl_tcp_max_tw_buckets | default('1440000') }}
net.core.rmem_default={{ zookeeper_sysctl_rmem_default | default('16777216') }}
net.core.wmem_default={{ zookeeper_sysctl_wmem_default | default('16777216') }}
net.core.rmem_max={{ zookeeper_sysctl_rmem_max | default('16777216') }}
net.core.wmem_max={{ zookeeper_sysctl_wmem_max | default('16777216') }}
net.ipv4.tcp_rmem = 8192 87380 16777216
net.ipv4.tcp_wmem = 8192 65536 16777216
net.core.somaxconn={{ zookeeper_sysctl_somaxconn | default('65535') }}
net.ipv4.tcp_max_syn_backlog={{ zookeeper_tcp_max_syn_backlog | default('262144') }}
net.ipv4.tcp_syncookies=1
net.ipv4.tcp_tw_recycle=1
net.ipv4.tcp_congestion_control=cubic
