# The number of milliseconds of each tick
tickTime=2000
 
# The number of ticks that the initial synchronization phase can take
initLimit=10
 
# The number of ticks that can pass between sending a request and getting an acknowledgement
syncLimit=5
 
# The directory where the snapshot is stored.
dataDir={{ zookeeper_data_directory | default('/data/zookeeper')}}
 
# The port at which the clients will connect
clientPort=2181
 
# Specify all Zookeeper servers
# The first port (2888) is used by followers to connect to the leader
# The second one (3888) is used for leader election
{% for zookeeper_server in zookeeper_server_list %}
{{ zookeeper_server }}
{% endfor %}

# Disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns=0
 
# Enable auto purge
# Retain last 20 snapshots
autopurge.snapRetainCount=20
# Execute purge operation every 1 hour interval
autopurge.purgeInterval=1

#whitelist 4latterwords
4lw.commands.whitelist=srvr, stat, ruok, mntr