[Unit]
Description=Zookeeper Server
After=network.target remote-fs.target

[Service]
Type=forking
Environment="SERVER_JVMFLAGS=-Xms{{ zookeeper_heap_xms }}m -XX:MetaspaceSize=96m -XX:MetaspaceSize=96m -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80"

Environment="JMXPORT=10020"
Environment="ZK_SERVER_HEAP={{ zookeeper_heap_xmx }}"
Environment="ZOO_LOG4J_PROP=INFO,ROLLINGFILE"
Environment="ZOO_LOG_DIR=/var/log/zookeeper"
ExecStart=/opt/zookeeper/bin/zkServer.sh start /opt/zookeeper/conf/zoo.cfg
ExecStop=/opt/zookeeper/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
ExecReload=/opt/zookeeper/bin/zkServer.sh restart /opt/zookeeper/conf/zoo.cfg

LimitNPROC=1000000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
